<!DOCTYPE html>
<html>
  <head>
    <title>Express Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Skill #<%= skill.id %> </h1>
    <h3><%= skill.skill %></h3>
    <h3>Skill Level: <%= skill.done ? 'A1' : 'Better keep working' %></h3>
  </body>
</html>
